@model List<AuctionProduct>

<div class="row justify-content-center wow animate__animated animate__backInUp">
    @foreach (var item in Model.Take(3))
    {
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="auction-item">
                <div class="image">
                    <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id">
                        <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" alt="">
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Home" asp-action="AddToWishlist" asp-route-id="@item.Id" class="star">

                            @if (item.UserAuctionProducts.Where(x => x.AppUserId == ViewBag.User.Id).Any(x => x.IsFavorit == true))
                            {
                                <i class="fas fa-star"></i>
                            }
                            else
                            {
                                <i class="far fa-star"></i>
                            }
                        </a>
                    }
                    else { 
                        <a asp-controller="account" asp-action="login" class="star">
                            <i class="far fa-star"></i>
                        </a>
                    }

                    <a asp-controller="auction" asp-action="index" asp-route-id="@item.Id" class="hammer">
                        <i class="flaticon-hammer"></i>
                    </a>
                </div>
                <div class="auction-content">
                    <h5>@item.Name</h5>
                    <div class="bid d-flex justify-content-between">
                        <div class="current-bid d-flex">
                            <i class="flaticon-hammer"></i>
                            <p class="d-flex flex-column">
                                Current Bid
                                @if (item.UserAuctionProducts.Count > 0)
                                {
                                    <span>$@item.UserAuctionProducts.OrderByDescending(x => x.Bid).FirstOrDefault().Bid</span>
                                }
                                else
                                {
                                    <span>$0</span>
                                }
                            </p>
                        </div>
                        <div class="buy-now-price d-flex">
                            <i class="flaticon-money"></i>
                            <p class="d-flex flex-column">
                                Buy Now
                                <span>$@item.BuyNowPrice</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="time d-flex ">
                    <div class="countdown" data-countdown="@item.EndDate.ToString("MM.dd.yyyy HH:mm").Replace(".","/")"></div>
                    <span>@item.UserAuctionProducts.Where(x=>x.Bid > 0).Count() Bids</span>
                </div>
                <div class="button text-center">
                    <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id">Submit A Bid</a>
                </div>
            </div>
        </div>
    }
</div>
