@model List<AuctionProduct>

<div class="row justify-content-center">
    @foreach (var item in Model.Take(3))
    {
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="auction-item">
                <div class="image">
                    <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id">
                            <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" alt="">
                    </a>
                    <a href="#" class="star">
                        <i class="far fa-star"></i>
                    </a>
                    <a asp-controller="auction" asp-action="index" asp-route-id="@item.Id" class="hammer">
                        <i class="flaticon-hammer"></i>
                    </a>
                </div>
                <div class="auction-content">
                    <h5>@item.Name</h5>
                    <div class="bid d-flex justify-content-between">
                        <div class="current-bid d-flex">
                            <i class="flaticon-hammer"></i>
                            <p class="d-flex flex-column">
                                Current Bid
                                <span>$876.00</span>
                            </p>
                        </div>
                        <div class="buy-now-price d-flex">
                            <i class="flaticon-money"></i>
                            <p class="d-flex flex-column">
                                Buy Now
                                <span>$@item.BuyNowPrice</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="time d-flex ">
                    <div class="countdown" data-countdown="@item.EndDate.ToString("MM.dd.yyyy HH:mm").Replace(".","/")"></div>
                    <span>30 Bids</span>
                </div>
                <div class="button text-center">
                    <a asp-controller="auction" asp-action="index" asp-route-id="@item.Id">Submit A Bid</a>
                </div>
            </div>
        </div>
    }
</div>
