@model ContactViewModel
<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="index.html">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(/uploads/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<!-- Contact Us Form -->
<section id="contact-form">
    <div class="container ">
        <div class="bg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header text-center">
                        <h4>@Model.Contact.Subtitle</h4>
                        <h1>@Model.Contact.Title</h1>
                        <p>@Model.Contact.Content</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="@Model.Message.Name">
                                <i class="far fa-user"></i>
                            </label>
                            <input asp-for="@Model.Message.Name" class="form-control" placeholder="Your Name">
                        </div>
                        <span asp-validation-for="@Model.Message.Name" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="@Model.Message.Email">
                                <i class="fas fa-envelope-open-text"></i>
                            </label>
                            <input asp-for="@Model.Message.Email" class="form-control"
                                   placeholder="Enter Your Email ID">
                        </div>
                        <span asp-validation-for="@Model.Message.Email" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="@Model.Message.Text">
                                <i class="fas fa-envelope-open-text"></i>
                            </label>
                            <textarea asp-for="@Model.Message.Text" placeholder="Type Your Message"></textarea>
                        </div>
                        <span asp-validation-for="@Model.Message.Text" class="text-danger"></span>
                        <div class="form-group justify-content-center mb-0">
                            <button class="send" type="submit">
                                SEND MESSAGE
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <img src="~/uploads/@Model.Contact.Photo" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Form -->
@section Scripts{ 
    <partial name="_ValidationScripts" />
}