@model HomeViewModel
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
}

<!-- Bannar -->
<section id="banner" style="background-image: url(/uploads/banner-bg-1.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <h5>@Model.HomePoster.Subtitle</h5>
                    <h1 style="width:500px">
                        @Model.HomePoster.Title
                    </h1>
                    <p>
                        @Model.HomePoster.Text
                    </p>
                    <a href="#">GET STARTED</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/uploads/@Model.HomePoster.Photo" alt="">
            </div>
        </div>
    </div>
    <div class="banner-bottom-image d-none d-lg-block">
        <img src="~/uploads/banner-shape.png" alt="" class="img-fluid">
    </div>
</section>
<!-- End Banner -->
<!-- Catagory Slider -->
<section id="catagory-slider">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Browse the highlights</h5>
            </div>
            <div class="col-lg-12 slider">
                <div class="owl-carousel owl-theme ">
                    @foreach (var item in Model.Categories)
                    {
                        <div class="item">
                            <a asp-controller="auction" asp-action="index" asp-route-id="@item.Id">
                                <img src="~/uploads/@item.Photo" alt="">
                                <span>@item.Name</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Catagory Slider -->
<!-- Car Auction -->
<section id="car-auction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header d-flex justify-content-between">
                <div class="title d-flex">
                    <img src="~/uploads/catagory01.png" alt="">
                    <div class="text">
                        <h1>Vehicles</h1>
                        <p>We offer affordable Vehicles</p>
                    </div>
                </div>
                <div class="header-button">
                    <a asp-controller="auction" asp-action="index" asp-route-id="@Model.Categories.Find(x=>x.Type == "Vehicles").Id" class="view-all btn rounded-pill">View All</a>
                </div>
            </div>
        </div>
        <vc:auction-poster-component id="@Model.Categories.Find(x=>x.Type == "Vehicles").Id"></vc:auction-poster-component>
    </div>
    <div class="car-bg">
        <img src="~/uploads/car-bg.png" alt="">
    </div>
</section>
<!-- End Car Auction -->
<!-- Jewelry Auction -->
<section id="jewelry-auction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header d-flex justify-content-between">
                <div class="title d-flex">
                    <img src="~/uploads/catagory02.png" alt="">
                    <div class="text">
                        <h1>Jewelry</h1>
                        <p>Online jewelry auctions where you can bid now and save money</p>
                    </div>
                </div>
                <div class="header-button">
                    <a asp-controller="auction" asp-action="index" asp-route-id="@Model.Categories.Find(x=>x.Type == "Jewelry").Id" class="view-all btn rounded-pill">View All</a>
                </div>
            </div>
        </div>
        <vc:auction-poster-component id="@Model.Categories.Find(x=>x.Type == "Jewelry").Id"></vc:auction-poster-component>
    </div>
    <div class="jewelry-bg">
        <img src="~/uploads/jwelry-bg.png" alt="">
    </div>
</section>
<!-- End Jewelry Auction -->
<partial name="_RegisterForFree" />
<!-- Watches Auction -->
<section id="watches-auction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header d-flex justify-content-between">
                <div class="title d-flex">
                    <img src="~/uploads/catagory03.png" alt="">
                    <div class="text">
                        <h1>Watches</h1>
                        <p>Shop for men & women designer brand watches</p>
                    </div>
                </div>
                <div class="header-button">
                    <a asp-controller="auction" asp-action="index" asp-route-id="@Model.Categories.Find(x=>x.Type == "Watches").Id" class="view-all btn rounded-pill">View All</a>
                </div>
            </div>
        </div>
        <vc:auction-poster-component id="@Model.Categories.Find(x=>x.Type == "Watches").Id"></vc:auction-poster-component>
    </div>
</section>
<!-- Emd Watches Auction -->
<!-- Popular Auctions -->
<section id="popular-auctions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center">
                    <span>Closing Within 24 Hours</span>
                    <h1>Popular Auctions</h1>
                    <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
                </div>
            </div>
        </div>
        <div class="popular-products">
            <div class="row">
                @foreach (var item in Model.AuctionProducts.Where(x => x.Popular == true).ToList())
                {
                    <div class="col-lg-6">
                        <div class="popular-item d-flex">
                            <div class="image">
                                <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id">
                                    <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" alt="">
                                </a>
                                <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id" class="hammer">
                                    <i class="flaticon-hammer"></i>
                                </a>
                            </div>
                            <div class="content text-center">
                                <h5>
                                    <a href="#">@item.Name</a>
                                </h5>
                                <div class="current-bid d-flex">
                                    <i class="flaticon-hammer"></i>
                                    <p class="d-flex flex-column">
                                        Current Bid
                                        <span>$876.00</span>
                                    </p>
                                </div>
                                <p class="total-bid">
                                    Total Bids :
                                    @if (item.UserAuctionProducts.Count > 0)
                                    {
                                        <span>$@item.UserAuctionProducts.OrderByDescending(x => x.Bid).FirstOrDefault().Bid</span>
                                    }
                                    else
                                    {
                                        <span>$0</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="popular-bg">
        <img src="~/uploads/popular-bg.png" alt="">
    </div>
</section>
<!-- End Popular Auctions -->
<!-- Coins & Bullion -->
<section id="coins-auction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header d-flex justify-content-between">
                <div class="title d-flex">
                    <img src="~/uploads/catagory08.png" alt="">
                    <div class="text">
                        <h1>Coins & Bullion</h1>
                        <p>Discover rare, foreign, & ancient coins that are worth collecting</p>
                    </div>
                </div>
                <div class="header-button">
                    <a asp-controller="auction" asp-action="index" asp-route-id="@Model.Categories.Find(x=>x.Type == "Coins").Id" class="view-all btn rounded-pill">View All</a>
                </div>
            </div>
        </div>
        <vc:auction-poster-component id="@Model.Categories.Find(x=>x.Type == "Coins").Id"></vc:auction-poster-component>
    </div>
    <div class="coins-bg">
        <img src="~/uploads/coin-bg.png" alt="">
    </div>
</section>
<!-- End Coins & Bullion -->
<!-- Real Estate -->
<section id="real-estate-auction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header d-flex justify-content-between">
                <div class="title d-flex">
                    <img src="~/uploads/catagory06.png" alt="">
                    <div class="text">
                        <h1>Real Estate</h1>
                        <p>Find auctions for Homes, Condos, Residential & Commercial Properties.</p>
                    </div>
                </div>
                <div class="header-button">
                    <a asp-controller="auction" asp-action="index" asp-route-id="@Model.Categories.Find(x=>x.Type == "Real-Estate").Id" class="view-all btn rounded-pill">View All</a>
                </div>
            </div>
        </div>
        <div class="real-estate-slider">
            <div class="owl-carousel owl-theme">
                @foreach (var item in Model.AuctionProducts.Where(x => x.Category.Type == "Real-Estate"))
                {
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-5 p-0">
                                <h3>
                                    <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id">@item.Name</a>
                                </h3>
                                <div class="bid d-flex justify-content-around">
                                    <div class="current-bid d-flex">
                                        <i class="flaticon-hammer"></i>
                                        <p class="d-flex flex-column">
                                            Current Bid
                                            @if (item.UserAuctionProducts.Count > 0)
                                            {
                                                <span>$@item.UserAuctionProducts.OrderByDescending(x => x.Bid).FirstOrDefault().Bid</span>
                                            }
                                            else
                                            {
                                                <span>$0</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="buy-now-price d-flex">
                                        <i class="flaticon-money"></i>
                                        <p class="d-flex flex-column">
                                            Buy Now
                                            <span>$@item.BuyNowPrice</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="time d-flex ">
                                    <div class="countdown" data-countdown="@item.EndDate.ToString("MM.dd.yyyy HH:mm").Replace(".","/")"></div>
                                    <span>30 Bids</span>
                                </div>
                                <div class="button text-center">
                                    <a asp-controller="auctiondetail" asp-action="index" asp-route-id="@item.Id">Submit A Bid</a>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="image">
                                    <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
    <div class="real-estate-bg">
        <img src="~/uploads/real-bg.png" alt="">
    </div>
</section>
<!-- End Real Estate -->
<!-- How It Works -->
<section id="how-it-works">
    <div class="container bg">
        <div class="title">
            <div class="row">
                <div class="col-lg-12">
                    <h1>How It Works</h1>
                    <p>Easy 3 steps to win</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="image">
                        <img src="~/uploads/how1.png" class="img-fluid" alt="">
                    </div>
                    <div class="content">
                        <h3>Sign Up</h3>
                        <p>No Credit Card Required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="image">
                        <img src="~/uploads/how2.png" class="img-fluid" alt="">
                    </div>
                    <div class="content">
                        <h3>Bid</h3>
                        <p>Bidding is free Only pay if you win</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="image">
                        <img src="~/uploads/how3.png" class="img-fluid" alt="">
                    </div>
                    <div class="content">
                        <h3>Win</h3>
                        <p>Fun - Excitement - Great deals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How It Works -->
<partial name="_CustomerComments" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
}