@model AppUser
<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
            <li>
                <a href="index.html">
                    Auction
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image" style="background-image: url(/uploads/hero-bg.png);">

    </div>
</section>
<!-- End Breadcrumb -->
<section id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <vc:user-menu-component></vc:user-menu-component>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="details">
                            <div class="header d-flex justify-content-between">
                                <h3>Personal Details</h3>
                                <a asp-action="ProfilDetailsEdit" asp-route-id="@Model.Id">
                                    <i class="flaticon-edit"></i>
                                    Edit
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <div class="info">
                                        Fullname
                                    </div>
                                    <div class="info-value">
                                        @Model.FullName
                                    </div>
                                </li>
                                <li>
                                    <div class="info">
                                        Username
                                    </div>
                                    <div class="info-value">
                                        @Model.UserName
                                    </div>
                                </li>
                                <li>
                                    <div class="info">
                                        Photo
                                    </div>
                                    <div class="info-value">
                                        <img src="~/uploads/@Model.Photo" width="100px" alt="" style="border-radius:50%">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="details">
                            <div class="header d-flex justify-content-between">
                                <h3>Email Address</h3>
                                <a asp-action="EmailEdit" asp-route-id="@Model.Id">
                                    <i class="flaticon-edit"></i>
                                    Edit
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <div class="info">
                                        Email
                                    </div>
                                    <div class="info-value">
                                        @Model.Email
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="details">
                            <div class="header d-flex justify-content-between">
                                <h3>Security</h3>
                                <a asp-action="PasswordEdit" asp-route-id="@Model.Id">
                                    <i class="flaticon-edit"></i>
                                    Edit
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <div class="info">
                                        Password
                                    </div>
                                    <div class="info-value">
                                        xxxxxxxxxxxxxxxx
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>