@model LoginViewModel
    <!-- Breadcrumb -->
    <section id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">
                        Home
                        <i class="flaticon-right-arrow"></i>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        Sing in
                    </a>
                </li>
            </ul>
        </div>
        <div class="bg-image" style="background-image: url(/uploads/hero-bg.png);">
        </div>
    </section>
    <!-- End Breadcrumb -->
    <!-- Login -->
    <section id="login">
        <div class="container">
            <div class="account d-flex">
                <div class="left-side">
                    <div class="header text-center">
                        <h1>HI, THERE</h1>
                        <p>You can log in to your Sbidu account here.</p>
                    </div>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        <div class="form-group">
                            <label class="label" asp-for="@Model.Email">
                                <i class="far fa-envelope"></i>
                            </label>
                            <input asp-for="@Model.Email" class="form-control" placeholder="Email Address">
                        </div>
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        <div class="form-group">
                            <label class="label" asp-for="@Model.Password">
                                <i class="fas fa-lock"></i>
                            </label>
                            <input asp-for="@Model.Password" class="form-control password" placeholder="Password">
                            <span class="show-password"><i class="fas fa-eye"></i></span>
                        </div>
                        <div class="form-group form-check p-0">
                            <label class="form-check-label mr-2" asp-for="@Model.IsRemember">Remerber me</label>
                            <input class="check-input" asp-for="@Model.IsRemember">
                        </div>
                        <div class="form-group mb-0 mt-4">
                            <button type="submit">LOG IN</button>
                        </div>
                    </form>
                </div>
                <div class="right-side">
                    <div class="sign-up">
                        <h2>NEW HERE?</h2>
                        <p>Sign up and create your Account</p>
                        <a asp-action="register">SING UP</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->

