@model IEnumerable<AuctionProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}

<section>
    <container>
        <row>
            <div class="px-4">
                <h1 class="text-primary">Auction Product</h1>

                <p class="d-flex justify-content-end">
                    <a asp-action="Create" class="text-success pr-3"><i class="fas fa-plus-circle" style="font-size:25px"></i></a>
                </p>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active btn btn-outline-primary mr-3" data-toggle="tab" href="#active">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn btn-outline-primary mr-3" data-toggle="tab" href="#sold">Sold</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn btn-outline-primary" data-toggle="tab" href="#no-buyer">No Buyer</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="active">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AuctionProductGalleries.FirstOrDefault().Photo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.About)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Category)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(x => x.Sold == false && x.EndDate > DateTime.Now && x.NoBuyer == false))
                                    {
                                    <tr>
                                        <td>
                                            @(i++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" width="100" alt="Alternate Text" />
                                        </td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* number of lines to show */ -webkit-box-orient: vertical; padding-bottom: 0px;">
                                            @Html.DisplayFor(modelItem => item.About)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        </td>
                                        <td class="d-flex flex-column">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="text-warning"><i class="fas fa-info-circle"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                    </div>
                    <div class="tab-pane fade" id="sold">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AuctionProductGalleries.FirstOrDefault().Photo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.About)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    i = 1;
                                }
                                @foreach (var item in Model.Where(x=>x.Sold == true))
                                {
                                <tr>
                                    <td>
                                        @(i++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" width="100" alt="Alternate Text" />
                                    </td>
                                    <td style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* number of lines to show */ -webkit-box-orient: vertical; padding-bottom: 0px;">
                                        @Html.DisplayFor(modelItem => item.About)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>
                                    <td class="d-flex flex-column">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="text-warning"><i class="fas fa-info-circle"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="no-buyer">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AuctionProductGalleries.FirstOrDefault().Photo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.About)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    i = 1;
                                }
                                @foreach (var item in Model.Where(x=>x.NoBuyer == true))
                                {
                                    <tr>
                                        <td>
                                            @(i++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <img src="~/uploads/@item.AuctionProductGalleries.FirstOrDefault().Photo" width="100" alt="Alternate Text" />
                                        </td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* number of lines to show */ -webkit-box-orient: vertical; padding-bottom: 0px;">
                                            @Html.DisplayFor(modelItem => item.About)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        </td>
                                        <td class="d-flex flex-column">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="text-warning"><i class="fas fa-info-circle"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </row>
    </container>
</section>

